#features {
    padding: 8rem 0;
    background-color: #2563eb;
    color: #fff;
    overflow: hidden;
}

.features__container .title {
    font-size: 2.8rem;
    text-align: center;
}

.features__container .sub__title {
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 1.5rem;
}

.features__container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}

.features__card {
    margin-top: 4rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.features__card .card {
    width: 40%;
}

.features__images {
    width: 70%;
    display: flex;
}

.features__images > img {
    width: 140%;
    border-radius: 24px;
}
.card__detail{
    margin: 3.5rem 0;
}

.card__detail h1{
    font-size: 18px;
    margin: 1rem 0;
    font-weight: 500;
}

.card__detail >  p {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}