
@media screen and (max-width: 1024px)  {

  .companies{
      gap: 4rem;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: 3rem;
      margin-right: 3rem;
  }

  .companies img{
      width: 200px;
  }

  .features__card {
      flex-direction: column;
  }

  .features__card .card {
      width: 100%;
      padding-left: 8rem;
      padding-right: 8rem;
  }

  .features__images{
      width: 100%;
  }

  .features__images > img {
      width: 100%;
  }

  .business__task__container .sub__title{
      width: 100%;
  }

  #testimonial, #pricing, #faq {
      padding: 8rem 8rem;
  }

  .business__task__cards {
      grid-template-columns: 1fr;
      padding-left: 8rem;
      padding-right: 8rem;
  }

  .testimonial__wrapper {
      columns: 1;
  }

  .pricing__wrapper{
      flex-direction: column;
  }
  .pricing__card {
      order: 2;
  }
  .popular{
      order: 1;
  }

  .faq {
      padding: 8rem 8rem;
  }

  .faq__wrapper{
      grid-template-columns: 1fr;
  }

  .faq__container .sub__title{
      width: 100%;
  }
}


@media screen and (max-width: 868px) {
  #testimonial, #pricing, #faq {
      padding: 8rem .5rem;
  }

  .nav__link {
      display: none;
  }

  .menu__icon {
      display: block;
  }

  .nav__btn__mobile {
      display: block;
      background-color: #2563eb;
      border-radius: 25px;
      padding: .5rem 1rem;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
  }
  .nav__btn__desktop{
      display: none;
  }

  .nav__item {
      gap: 1rem;
  }

  .hero__wrapper  h1, .hero__wrapper span {
      font-size: 3.5rem;
  }

  .business__task__cards {
      padding-left: 4rem;
      padding-right: 4rem;
  }

  .companies{
      gap: 4rem;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: 3rem;
      margin-right: 3rem;
  }

  .companies img{
      width: 200px;
  }

  .features__card .card {
      width: 100%;
      padding-left: .5rem;
      padding-right: .5rem;
  }
  .business__task__cards {
      padding-left: .5rem;
      padding-right: .5rem;
  }

  .business__task__image {
      padding: .5rem;
  }

  .business__task__image > img{
      width: 100%;
      height: 100%;
  }
  
}

@media screen and (max-width: 500px) {
  #header {
      padding: 0 1rem;
  }

  #hero {
      margin-top: 120px;
  }

  .hero__btns {
      margin-bottom: 150px;
  }

  .features__container, .testimonial__container, .pricing__container, .faq__container, .footer__container, .business__task__container {
      padding: 0 1rem;
  }

  .hero__wrapper  h1, .hero__wrapper span {
      font-size: 3rem;
      max-width: 90%;
  }

  .hero__wrapper  .booking{
      width: 90%;
      text-align: center;
  }

  .companies{
      gap: 3rem;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: 1rem;
      margin-right: 1rem;
  }

  .companies img{
      width: 150px;
  }

  #features{
      padding: 5rem 0;
  }

  .features__container .title {
      font-size: 2rem;
      text-align: left;
  }

  .features__container .sub__title {
      font-size: 1rem;
      text-align: left;
      line-height: 1.5;
  }

  .features__card {
      margin-top: 1.5rem;
  }
  
  .features__images > img {
      width: 200%;
      border-radius: 24px;
  }

  .business__task__container .title, .testimonial__container > h1, .pricing__container > h1 {
      text-align: left;
      font-size: 2rem;
  }
  .business__task__container .sub__title, .testimonial__container > p, .pricing__container > p {
      text-align: left;
      width: 100%;
      font-size: 16px;
      line-height: 1.5;
  }

  .business__task__image > img{
      width: 300%;
  }
  .get__started__wrapper h1 {
      font-size: 2rem;
  }

  #testimonial, #pricing, #faq {
      padding: 6rem 0rem;
  }
  .pricing__card{
      padding: 1.5rem;
  }
  .pricing__wrapper{
      gap: 1rem;
  }

  .bottom {
      display: block;
  }
  .footer__info{
      flex-direction: column-reverse;
      gap: 2rem;
  }
}